@model IEnumerable<Schrader.Eve.Models.Mission>

@{
    ViewBag.Title = "Mining Runs";
}

<h2>Mining Runs - @Html.ActionLink("New Mining Run", "Create")</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Designation)</th>
        <th>@Html.DisplayNameFor(x => x.Site)</th>
        <th>@Html.DisplayNameFor(x => x.System)</th>
        <th>Start Time</th>
        <th>Pilot Count</th>
        <th>@*Manage Button*@</th>
        <th>@*Delete/Cancel/Start/Finish Button*@</th>
        <th>@*View Button*@</th>
    </tr>
    @foreach (var mission in Model)
    {
        <tr>
            <td>@mission.Designation</td>
            <td>@mission.Site</td>
            <td>@mission.System</td>
            <td>@mission.StartTime</td>
            <td>@mission.PilotCount</td>
            <td>@Html.ActionLink("Manage", "Manage", new { id = @mission.Id })</td>
            <td>n/a</td>
            <td>@Html.ActionLink("View", "Details", new { id = @mission.Id })</td>
        </tr>
    }
</table>