@model Schrader.Eve.Models.MissionPilot

<div style="position: relative; display:block; height: 200px;">
    <img src="@string.Format("http://image.eveonline.com/Character/{0}_200.jpg", Model.Pilot.CharacterId)" 
         style="float: left; border-radius: 15px;" />
    <div style="float:left; margin-left: 20px;">
        <h4 style="color: black;">@Model.Pilot.Name - @Model.Role</h4>
        <span>Participation Time: @Model.TotalHoursInMision.ToString("N2") hrs</span>
        <div style="position: absolute; left: 220px; bottom: 10px;">
            <img style="float:left;" src="@string.Format("http://image.eveonline.com/Type/{0}_64.png", Model.Ship.Item.TypeId)" />
            <div style="float:left">
                @Model.Ship.Name
                <br />
                @Model.Ship.Item.Name
                <br />
                @Model.Ship.Class
            </div>
        </div>
    </div>
</div>
