@model IEnumerable<Schrader.Eve.Models.MissionPilot>

<div style="width: 700px;">
    <div id="capsuleer_detail">
        @Html.Partial("MissionPilotDetailPartial", Model.First())
    </div>
    <div style="display: block; position: relative; margin-left: 44px;">
        <div class="capsuleer-carousel">
            <ul>
                @foreach (var pilot in Model)
                {
                    <li>
                        <img data-pid="@pilot.Id"
                             src="@string.Format("http://image.eveonline.com/Character/{0}_128.jpg", pilot.Pilot.CharacterId)"
                             width="128" height="128" />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var capsuleerCount = parseInt(@Model.Count());

        var $carousel = $('.capsuleer-carousel');
        $carousel.jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev",
            auto: capsuleerCount > 4 ? 5000 : 0,
            speed: 800,
            visible: 4,
            afterEnd: afterEndCallback
        });

        function afterEndCallback(items) {
            var $currentItem = $(items[0]).children(0);
            var pid = $currentItem.data('pid');

            $.ajax({
                url: '@Url.Action("LoadMissionPilotDetailPartial", "MiningRun")',
                data: { pilotId: pid },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    $capsuleerDetailDiv = $('#capsuleer_detail');
                    $capsuleerDetailDiv.html(data);
                }
            });
        };
    });
</script>
